<div class="mt-24 max-w-5xl mx-auto rounded-md bg-sky-50 border border-sky-200 p-4 md:mt-36 md:mb-16">
    <h2 class="text-base font-bold" id="information"><code>position-area</code> プロパティについて</h2>
    <div class="mt-2 text-sm/6 space-y-2">
        <p>
            CSS の <code>position-area</code> プロパティは、アンカーボックスを中心とした、3×3 のグリッドを想定し、そのグリッドに対してどのようにボックスを配置するかを指定することができる CSS プロパティです。
        </p>
        <p><code>position-area</code> プロパティを使用することで、グリッド内でボックスの配置を直感的に設定することが可能になります。</p>
        <p>
            仕様書： <a class="underline inline-flex items-center gap-2 hover:no-underline" href="https://drafts.csswg.org/css-anchor-position-1/#position-area" target="_blank">
                CSS Anchor Positioning
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                    </svg>
                </span>
            </a>
        </p>
    </div>
    <h2 class="mt-6 text-base font-bold">このツールについて</h2>
    <div class="mt-2 text-sm/6 space-y-2">
        <p>
            このツールは、<code>position-area</code> プロパティに指定可能な値をセレクトメニューから選択することで、実際にアンカー要素（「Anchor」とラベルのあるエリア ）に対して、配置ボックス（「Item」とラベルのある要素）がどのように配置されるかを確認できます。
        </p>
        <p>
            セレクトメニューから適用したい値を選択し「適用」ボタンを押してください。配置ボックスが値に応じた位置に配置されます。「CSSをコピー」ボタンを押すことで、適用されたCSSをクリップボードにコピーできます。
        </p>
        <p>
            <code>position-area</code> プロパティには最大で2つの値を指定可能ですが、組み合わせには制約があるため、セレクトメニューは「値1」で選択した内容に応じて、「値2」はそれと組み合わせ可能な値のみが表示されるようにしています。「値1」もしくは「値2」を「指定しない」とすれば、1つだけ値を指定した状態になります。
        </p>
    </div>
</div>
